* {
  margin: 0;
  padding: 0;
}

.app-component {
  &__main-table-wrapper {
    display: flex;
    justify-content: center;
  }

  &__add-button-wrapper {
    text-align: center;
  }
}

.mat-cell,
.mat-header-cell {
  padding: 24px;
}

.mat-row:hover {
  background-color: #dbdbff;
  cursor: pointer;
}

.table-header {
  font-size: 14px;
  font-weight: bold;
  color: #0a1f44;
}

.add-button{
  margin-top: 10px;
}

.title{
  margin-top: 20px;
  margin-bottom: 20px;
}
